@import 'tailwindcss';

@theme {
	--font-sans: 'Geist', sans-serif;

	--color-bg: #fff;
	--color-fg: #000;

	--color-yahoo-purple: #6001d2;

	--spacing-ch: 1ch;
	--spacing-lh: 1lh;
}

@layer base {
	:root {
		@media (prefers-color-scheme: dark) {
			--color-bg: #000;
			--color-fg: #fff;
		}
	}

	* {
		min-width: 0;
	}
}

@utility technical {
	text-transform: uppercase;
	letter-spacing: 0.1ch;
}

@utility action {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0.5ch 1ch;

	@apply bg-yahoo-purple gap-2 text-white;
}
