@import 'tailwindcss';

@theme {
	--font-sans: 'Geist', sans-serif;

	--color-bg: #fff;
	--color-fg: #000;

	--color-yahoo-purple: #6001d2;
}

@layer base {
	:root {
		@media (prefers-color-scheme: dark) {
			--color-bg: #000;
			--color-fg: #fff;
		}
	}

	* {
		min-width: 0;
	}
}

@utility technical {
	text-transform: uppercase;
	letter-spacing: 0.1ch;
}
